{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <div class="jumbotron text-center"> -->
  <div class="col-md-6 col-md-offset-3">
    <form method="POST">
    	{% csrf_token %}
    	<fieldset class="form-group">
    		<legend "border-bottom mb4">
    		Join Today
    		 </legend>
    			{{ form|crispy }}
    	</fieldset>
    	<div class="form-group">
    		<button class="btn btn-default btn-block active" type="submit">Sign Up</button>
    	</div>
    </form>
    <div class="border-top p3"><small class="text-muted">
    	Already have an account? <a class="ml-2" href="{% url 'login' %}">
    		Sign In
    	</a>
    </small></div>
  </div>
<!-- </div> -->

{% endblock %}
